<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yonghun.ksg.lifelonglearningapp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="yonghun.ksg.lifelonglearningapp.LifelongApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/lifelong"
        android:label="평생교육강좌찾기"
        android:roundIcon="@mipmap/lifelong"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifelongLearningApp"
        >

        <activity
            android:name="yonghun.ksg.lifelonglearningapp.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yonghun.ksg.lifelonglearningapp.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="yonghun.ksg.lifelonglearningapp.LectureInformationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="yonghun.ksg.lifelonglearningapp.SearchActivity"
            android:exported="false"
            android:theme="@style/afterSearch" />

    </application>

</manifest>